
<div class="sidebar-wrapper">
  <div class="sidebar-wrapper-logo">
    <a class="navbar-brand " [routerLink]="['/dashboard']">
      <img src="./assets/img/project/logo.svg" [alt]="appName + ' Logo'" class="img-fluid me-2" />
      <span class="title-wrapper">{{ appName }}</span>
    </a>
  </div>
    <ul class="nav">
        <li class="text-center" routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
